body {
  font-family: "Poppins", sans-serif;
  background-color: #fff9f0;
  color: #333;
  /* margin: 0;
  padding: 0; */
   overflow-x: hidden;
}

.footer {
  background-color: #5b3aa0;
  color: white;
  padding: 40px 20px;
  /* border: 3px solid #42d1ff; */
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 180px;
  margin: 10px;
}

.brand h2 {
  font-weight: 600;
}

.brand .logo {
  width: 60px;
  margin-bottom: 10px;
}

.brand p {
  margin: 5px 0;
}

.social-icons i {
  margin: 10px 10px 0 0;
  font-size: 18px;
  cursor: pointer;
}

.footer-section h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 6px;
  font-size: 14px;
}
.Click-Chat {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin: 5px 0;
}
.support p, .support a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.app-buttons img {
  width: 120px;
  margin: 10px 10px 0 0;
}
.footer-icon{
display: flex;
align-items: center;
gap: 15px;
}

